{{#if show_datasource_recommendations}}
  <div 
    id='datasource_recommendations_holder' 
    data-toggle="tooltip" 
    tooltip-content="{{ datasource_num }} community recipes found." 
  >
    <span id="recommendations_icon" ></span>  
    <span id="recommendations_num" > 
      {{ datasource_num }}
    </span>

  </div>
{{/if}}  