<div id='getdata-notification-save-popup-container'>
  <div id='getdata-notification-popup-message'>
    A copy was been saved to your account too
  </div>
  {{{img "images/notification-close-icon.svg" "close-notification-icon" "close-notification-icon" }}}
</div>