<div id='getdata-notification-popup-container'>
  <div id='getdata-notification-popup-message'>
    {{notification_message}}
  </div>
  {{{img "images/notification-close-icon.svg" "close-notification-icon" "close-notification-icon" }}}
</div>