<div id='getdata-header'>
  <div id='extension-name'>
  Cypher Defense
  </div>
</div>

<div id='getdata-notification-popup-positioner'></div>


<div class='empty-panel'>
  <div class='empty-icon'></div>
  <div class='empty-header'>
    Page interaction has been disabled
  </div>
  <div class='empty-subheader'>
    Known Web3 related phishing attack / scam has been detected on this page by network
  </div>
</div>



<div class="clearer"></div>

<div id='getdata-footer'>
</div>


<div id='krake-tooltip'>
  My tooltip
</div>
